@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Education</h2>

<table>
    <thead>
        <tr>
            <th>Level</th>
            <th>Institution</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>College</td>
            <td>BNMPC</td>
        </tr>
        <tr>
            <td>University</td>
            <td>AIUB</td>
        </tr>
    </tbody>
</table>